*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: all 200ms;
  font-family: 'Roboto', sans-serif;
}
form input, form select, form textarea {
  border: 1px solid #A5A5A5;
  width: 100%;
  padding: 12px 1rem;
  border-radius: 5px;
}
form input:focus, form select:focus, form textarea:focus {
  border-color: #2a8ecd;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
}
textarea {
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
box-icon {
  margin-left: 10px;
}
input:read-only, input[readonly] {
  border: 1px solid #ced4da;
  background-color: #e9ecef;
}
input:-moz-read-only {
  border: 1px solid #ced4da;
  background-color: #e9ecef;
}
.xy-noscroll {
  overflow: hidden !important;
}
.x-noscroll {
  overflow-x: hidden !important;
}
.fas {
  transition: all 250ms;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.y-noscroll {
  overflow-y: hidden;
}
.modal-overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  left: 0;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.navOpen a {
  max-height: none;
  opacity: 1;
  padding: 10px 0;
}
.navOpen #loginBtn {
  padding: 10px 30px;
  margin: 10px 0 20px 0;
}
.container {
  width: 90% !important;
}
.nav-link {
  padding: .5rem 1rem !important;
}
.header__caption {
  width: 90%;
  position: absolute;
  z-index: 1;
  top: calc(50% + 30px);
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}
.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.btn-secondary {
  justify-content: center;
  background-color: #ECA84D;
  border: 1px solid #DD9D47;
  color: #fff;
  text-transform: capitalize;
  padding: 0 30px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
}
